<div class="container center-box">
    <div class="new-password-page">
        <h3 class="title">Reset your password</h3>
        <div class="title-description">Enter your new password here.</div>

        <% if (error) { %>
            <form class="form">
                <div class="error"><%= error %></div>
            </form>

            <a class="aha-button" href="/">Go to home</a>
        <% } else if (success) { %>
            <form class="form">
                <div class="success"><%= success %></div>
            </form>

            <a class="aha-button" href="/">Go to home</a>
        <% } else { %>
            <form action="" method="post" class="form">
                <div class="field">
                    <div class="field-title">
                        <strong>Old password</strong>
                    </div>
                    <input type="password" name="old_password" class="aha-input full-width" placeholder="Old password" />
                </div>
                <div class="field center-box">
                    <div class="left">
                        <div class="field-title">
                            <strong>Password</strong>
                        </div>
                        <input type="password" name="password" class="aha-input full-width" placeholder="Password" />
                    </div>
                    <div class="right">
                        <div class="field-title">
                            <strong>Confirm password</strong>
                        </div>
                        <input type="password" name="confirm_password" class="aha-input full-width" placeholder="Confirm password" />
                    </div>
                </div>

                <% if (message) { %>
                    <div class="error"><%= message %></div>
                <% } %>

                <button class="aha-button full-width">Update password</button>
            </form>
        <% } %>
    </div>
</div>