<div class="container center-box">
    <div class="reset-password-page">
        <h3 class="title">Reset your password</h3>
        <div class="title-description">Enter the email address associated with your account. We will send a reset link to your email.</div>

        <form action="" method="post" class="form">
            <div class="field">
                <input type="email" name="email" class="aha-input full-width" placeholder="Email" value="<%= data.email %>" />
            </div>

            <% if (message) { %>
                <div class="error"><%= message %></div>
            <% } %>
            <% if (success) { %>
                <div class="success"><%= success %></div>
            <% } %>

            <button class="aha-button full-width">Send reset link</button>

            <div class="privacy-policy-and-terms">
                By using Aha you are agreeing to our <strong>privacy policy</strong> and <strong>terms</strong>.
            </div>
        </form>
    </div>
</div>