<footer class="container footer center-box">
    <div>
        <nav>
            <ul>
                <li><a href="/postman.json">Postman</a></li>
                <li><a href="/docs">Docs</a></li>
                <li><a href="/docs.json">Docs (json)</a></li>
            </ul>
        </nav>
    </div>
</footer>